.react-datepicker-wrapper {
  width: 100%;
}

.land-git-bott{
  position: absolute;
  bottom: 0;
  height: 5vh;
  width: 100dvw;
  border-radius: 8px;
  background-color: aliceblue;
  border: 1px solid rgba(69, 86, 101, 0.524);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: dotted;
  font-size: 14px;
}

.input-icon {
  display: flex;
  right: 10px;
  cursor: pointer;
  position: absolute;
}

@keyframes blink {
  0% {
    border-color: red;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: red;
  }
}

.blink-error {
  animation: blink 0.3s step-end 3;
  border: 2px solid red;
}

.error-border-date {
  border: 1px solid red;
  border-radius: 4px;
}

.proceed-button {
  /* width: 29px; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  height: 43px;
  border-radius: 8px;
  opacity: 0px;
  background: #283B99;
  cursor: pointer;
}

.label-text-sm {
  font-family: Mukta;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.94px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2B3545CC;
  text-transform: capitalize;

}

@media (min-width:768px) {
  .proceed-button {
    width: 129px;
    margin-left: auto;
  }
}